<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  
<body>
<input id="dict" type="hidden" th:value="${dict}">
<div class="row">
       <div class="col-12">
             <div class="card-box table-responsive">
                  
					<div class="col-xl-12">
						<!-- Tab切换页 -->
					    <ul id="tab_nav" class="nav nav-tabs">
					        <li id="tab_li_home" class="nav-item">
					            <a id="tab_a_home" href="#tab_content_home" data-toggle="tab" aria-expanded="false" class="nav-link active">
					            	消息管理
					            </a>
					        </li>
					    </ul>
					
						<!-- Tab默认页 -->
					    <div class="tab-content" id="tab-content">
					        <div role="tabpanel" class="tab-pane fade active show" id="tab_content_home">
					                     <div class="card m-b-20 card-body">
					                      <form class="form-inline">
					                      	  <div class="col-2">
					                                 <input type="text" class="form-control" id="smsg_title" placeholder="请输入消息标题">
					                          </div>
					                      	  <div class="col-2">
					                                 <input type="text" class="form-control" id="smsg_userName" placeholder="请输入接收人">
					                          </div>
					                          <button class="btn btn-success" id="msg_query_btn">查询</button>
					                      </form>
					                		</div>
					                		<div class="col-12 m-b-15">
							                    <button id="add_btn" type="button" onclick="addMsg()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-r-15"  data-toggle="modal" data-target="#myModal"> 
							                    	<i class="fa fa-plus"></i> <span>添加消息</span> 
							                    </button>
							                    <button id="batch_del_btn" type="button" onclick="batchDelDef()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-r-15"> 
				                                 	<i class="mdi mdi-close"></i> <span id="del_model">批量删除</span> 
				                                 </button>
					                		</div>
					                     <table id="datatable-buttons" class="table table-striped table-bordered" style="white-space: nowrap;" cellspacing="0" width="100%">
					                         <thead>
					                         <tr>
					                         	 <th><input type="checkbox"  class="checkall"></th>
					                             <th>消息编码</th>
					                             <th>消息标题</th>
					                             <th>消息内容</th>
					                             <th>消息接收人</th>
					                             <th>消息状态</th>
					                             <th>创建时间</th>
					                             <th>操作</th>
					                         </tr>
					                         </thead>
					                         <tbody>
					                         </tbody>
					                     </table>
					        </div>
					    </div>
					</div>
           </div>
      </div>
      

</div>

<!-- 模态框 -->
<div id="add_msg_div">       
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="max-width:700px;margin:70px auto">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">添加消息</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                  <div class="card-box">
                     <div class="row">
                         <div class="col-12">
                             <div class="p-20">
                                 <form id="sMsg_form" class="form-horizontal" role="form">
                             		<input id="csrf_taken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                             		<input id="uuid" type="hidden" name="uuid">
                                     <div class="form-group row">
                                         <label class="col-2 col-form-label">消息标题</label>
                                         <div class="col-10">
                                             <input type="text" id="title" name="title" class="form-control" >
                                         </div>
                                     </div>
                                     <div class="form-group row">
                                         <label class="col-2 col-form-label">消息内容</label>
                                         <div class="col-10">
                                             <input type="text" id="content" name="content" class="form-control" >
                                         </div>
                                     </div>
                                    <div class="form-group row">
                                         <label class="col-2 col-form-label">接收人</label>
                                         <div class="col-10">
                                              <select id="userId" name="userId" class="form-control">
                                              	<option value="" >--请选择--</option>
                                              </select>
                                         </div>
                                     </div>
                                     <div class="form-group row">
                                         <label class="col-2 col-form-label">消息状态</label>
                                         <div class="col-10">
                                              <select id="readStatus" name="readStatus" class="form-control">
                                              	<option value="" >--请选择--</option>
                                              </select>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div>

                     </div>
                     <!-- end row -->
                 </div>
              </div>
              <div class="modal-footer">
                  <button id="close_btn" type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                  <button id="msg_save_btn" type="button" class="btn btn-success waves-effect waves-light">保存</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div>
</div>

</body>
<script type="text/javascript">

 			 //批量
            function batchDelDef() {
            	var checkednum = $(".checkchild:checked").length;
            	if(checkednum == 0) {
            		alert("请至少选中一项!");
            		return;
            	}
            	if(confirm("确定删除所有选中消息？")) {
            		var checkedArr = new Array();
            		$(".checkchild:checked").each(function() {
            			checkedArr.push($(this).val());
            		});
            		var csrf_taken = $("#csrf_taken").val();
            		Css.ajax("POST","/msg/del",{"_csrf":csrf_taken,"ids":checkedArr.toString()},function(jsonStr){
	            		if(jsonStr.state=="0") {
	            			$('#datatable-buttons').DataTable().draw();
	            		} else {
	            			alert("批量删除失败!");
	            		}
	                });
            	} 
            }
 			 
			function addMsg() {
				$("#uuid").val("");
        		$("#title").val("");
        		$("#content").val("");
        		$("#userId").val("");
        		$("#readStatus").val("");
			}
			
			function updMsg(uuid) {
				Css.ajax("GET","/msg/get",{"uuid":uuid},function(result){
            		if(result.state=="0") {
            			var sMsg = result.data;
		        		$("#uuid").val(sMsg.uuid);
		        		$("#title").val(sMsg.title);
		        		$("#content").val(sMsg.content);
		        		$("#userId").val(sMsg.userId);
		        		$("#readStatus").val(sMsg.readStatus);
            		} else {
            			alert("获取消息失败");
            		}
                });
			}
			
			function delMsg(uuid) {
				var delFlag=confirm("确认删除吗？")
				var csrf_taken = $("#csrf_taken").val();
				if(delFlag){
					Css.ajax("POST","/msg/del",{"_csrf":csrf_taken,"ids":uuid},function(result){
	            		if(result.state=="0") {
	            			var table = $('#datatable-buttons');
	            			$('#datatable-buttons').DataTable().draw();
	            		} else {
	            			alert("删除失败!");
	            		}
	                });
				}
			}
            $(document).ready(function() {
            	var dict=jQuery.parseJSON($("#dict").val());
            	
            	Css.loadSelect("#readStatus","MSG_READ_STATUS");//加载下拉列表
            	Css.ajax("GET","/user/loadSelect",{},function(result) {//从s_user加载下拉列表
            		$(result.data).each(function(index,element) {
            			var html = "<option value="+element.uuid+">"+ element.loginName +"</option>"
            			$("#userId").append(html);
            		});
            	});
            	
            	$(".checkall").click(function () {
          	      var check = $(this).prop("checked");
          	      $(".checkchild").prop("checked", check);
          		});
            	
                $("#msg_query_btn").click(function(){
                	table.draw();
                	return false;//阻止默认的跳转行为
         		});
                
                $("#msg_save_btn").click(function(){
                	var params = $("#sMsg_form").toJSON();
                	Css.ajax("POST","/msg/add",params,function(result){
                		if(result.state=="0") {
	                    	$("#close_btn").trigger("click");//触发关闭事件
    	                    table.draw();
                		} else {
                			alert("表单填写有误,重新填写!");
                		}
                    });
                });
                
                var table = $('#datatable-buttons').DataTable({
                    processing: true,
                    serverSide: true,
                    ordering: true,
                    order:[6,'desc'],
	                dom: Css.getDom(),
                    language: Css.getLaguage(),
                    ajax: {
                        "url": "/msg/query",
                        "data": function( sMsg ) {
                        	sMsg.title = $("#smsg_title").val();
                        	sMsg.userName = $("#smsg_userName").val();
                        },
                        "dataSrc": "data"
                    },
                    columns: [
                   		{
                            "sClass": "text-center",
                            "data": "uuid",
                            "bSortable": false,
                            "width" : "13px",
                            "searchable": false,
                            "render": function (data, type, row, meta) {
                                return '<input type="checkbox" name="ffTaskUserCheck" class="checkchild"  value="' + data + '" />';
                            }
                        },
                    	{"data":"uuid","visible":false},
                        {"data": "title",
                        	 render: function(data, type, row, meta) { 
                              	var tomuchcontent = data; 
                      	        return '<div id="a" style="width:80px;overflow: hidden;text-overflow: ellipsis;" '+ 
                      	        'title="'+tomuchcontent +'">'+tomuchcontent +'</div>'; 
                      	        }
                        },
                        {"data": "content",
                       	 render: function(data, type, row, meta) { 
                         	var tomuchcontent = data; 
                 	        return '<div id="a" style="width:80px;overflow: hidden;text-overflow: ellipsis;" '+ 
                 	        'title="'+tomuchcontent +'">'+tomuchcontent +'</div>'; 
                 	        }
                        },
                        {"data": "userName"},
                        {
                            "data": "readStatus",
                            "render": function (data, type, row, meta) {
                                return dict.msgReadStatus[data];
                            },
                        }, 
                        {
	                         "data" : "createTime",
	                         "render" : function(data,type, row, meta) {
	                             return Css.moment(data,"YYYY-MM-DD HH:mm:ss");
                         	 }
                        },
                        {"data": null}
                    ],
                    columnDefs: [
                    	{
         					targets: [0,7],
         					orderable: false
         				},
                        {
                            targets: 7,
                            render: function (data, type, row, meta) {
                                return data = '<button type="button" class="btn btn-success btn-bordred waves-effect btn-trans m-r-5" onclick=delMsg("'+row.uuid+'")>删除</button>' +
                                '<button type="button" class="btn btn-success btn-bordred waves-effect btn-trans m-r-5" data-toggle="modal" data-target="#myModal" onclick=updMsg("'+row.uuid+'")>更新</button>';
                            }
                        }
                    ],
                    language: Css.getLaguage()
                });
            } );
        </script>

</html>