<!DOCTYPE HTML>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="row">
<div class="card-box table-responsive">
		<div class="col-2" style="float: left;">
			<div class="card-box table-responsive" id="basicTreeDiv">
				<div id="basicTree">
					<ul th:utext="${unitTreeHtml}"></ul>
                </div>
			</div>
		</div>
								 
       <div class="col-10" style="float: right;">
        	 <input id="unitUuid" type="hidden"/>
       		 <div id="rightContent">

       		 </div>
      </div>
</div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
    	jqueryTreeReady();
        //绑定树结构点击事件
        $("#basicTree").on('select_node.jstree', function(e,data) {
        	var unitUuid = data.node.data.uuid;
            $("#unitUuid").val(unitUuid);
            return Css.loadSpecModel("rightContent","/unit/unit_dir");
        });
    });
</script>
</html>